aiohttp
aiosignal
astropy
astroquery
asttokens
async-timeout
attrs
awkward
awkward-cpp
awkward_kaitai
babel
backrefs
beautifulsoup4
bleach
bs4
certifi
charset-normalizer
click
cmake
colorama
comm
construct
contourpy
cycler
decorator
defusedxml
distlib
exceptiongroup
executing
fastjsonschema
filelock
fonttools
frozenlist
fsspec
ghp-import
html5lib
idna
importlib-metadata
importlib-resources
ipython
ipywidgets
jaraco.classes
jedi
Jinja2
jplephem
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab-widgets
jupyterlab_pygments
kaitaistruct
keyring
kiwisolver
llvmlite
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mergedeep
mistune
mkdocs
mkdocs-get-deps
mkdocs-material
mkdocs-material-extensions
more-itertools
mplhep
mplhep-data
multidict
nbclient
nbconvert
nbformat
numba
numpy
packaging
paginate
pandas
pandocfilters
parso
pathspec
pelicanfs
Pillow
pipenv
platformdirs
plotly
poliastro
prompt-toolkit
pure-eval
pyerfa
pyFirmata
pygame
Pygments
pymdown-extensions
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
pyserial
python-dateutil
pytz
pyvo
PyYAML
pyyaml_env_tag
pyzmq
referencing
requests
rpds-py
scipy
setuptools-scm
six
soupsieve
stack-data
tenacity
tinycss2
tomli
tornado
traitlets
typing_extensions
uhi
urllib3
virtualenv
virtualenv-clone
watchdog
wcwidth
webencodings
widgetsnbextension
wrapt
yarl
zipp
